<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trabalho_tp_02_android_rodrigo_soares"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.trabalho_tp_02_android_rodrigo_soares.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.trabalho_tp_02_android_rodrigo_soares.AdicionarActivity"
            android:label="@string/title_activity_adicionar" >
        </activity>
        <activity
            android:name="com.example.trabalho_tp_02_android_rodrigo_soares.LocalidadeActivity"
            android:label="@string/title_activity_localidade" >
        </activity>
        <activity
            android:name="com.example.trabalho_tp_02_android_rodrigo_soares.Remover"
            android:label="@string/title_activity_remover" >
        </activity>
        <activity
            android:name="com.example.trabalho_tp_02_android_rodrigo_soares.RemoveCerteza"
            android:label="@string/title_activity_remove_certeza" >
        </activity>
        <activity
            android:name="com.example.trabalho_tp_02_android_rodrigo_soares.ListaActivity"
            android:label="@string/title_activity_lista" >
        </activity>
        <activity
            android:name="com.example.trabalho_tp_02_android_rodrigo_soares.ListarTravelers"
            android:label="@string/title_activity_listar_travelers" >
        </activity>
        <activity
            android:name="com.example.trabalho_tp_02_android_rodrigo_soares.Lucrar"
            android:label="@string/title_activity_lucrar" >
        </activity>
        <activity
            android:name="com.example.trabalho_tp_02_android_rodrigo_soares.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
    </application>

</manifest>
